<a href="https://colab.research.google.com/github/vrklkv/algebra-algorithms/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import seaborn as sb
tips=sb.load_dataset("tips")

'sex'

In [4]:
len(tips)

7

In [5]:
len(tips.culumns)

244

In [6]:
name3=list(tips.columns)[2]
name3

'sex'

In [9]:
list(tips.columns)  #auxiliary command for me :)

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [10]:
tips.loc[tips["total_bill"]<15]

     total_bill   tip     sex smoker  day    time  size
1         10.34  1.66    Male     No  Sun  Dinner     3
6          8.77  2.00    Male     No  Sun  Dinner     2
9         14.78  3.23    Male     No  Sun  Dinner     2
10        10.27  1.71    Male     No  Sun  Dinner     2
14        14.83  3.02  Female     No  Sun  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
228       13.28  2.72    Male     No  Sat  Dinner     2
232       11.61  3.39    Male     No  Sat  Dinner     2
233       10.77  1.47    Male     No  Sat  Dinner     2
235       10.07  1.25    Male     No  Sat  Dinner     2
236       12.60  1.00    Male    Yes  Sat  Dinner     2

[80 rows x 7 columns]

In [12]:
tips.loc[tips["day"]=="Sat"]

     total_bill   tip     sex smoker  day    time  size
19        20.65  3.35    Male     No  Sat  Dinner     3
20        17.92  4.08    Male     No  Sat  Dinner     2
21        20.29  2.75  Female     No  Sat  Dinner     2
22        15.77  2.23  Female     No  Sat  Dinner     2
23        39.42  7.58    Male     No  Sat  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[87 rows x 7 columns]